body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background : #ffffff;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
